#noti.transitions-enabled
	- @notis.each do |noti|
		.box.panel.panel-default
			// = link_to (image_tag noti.image.url), noti
			= link_to noti.description.html_safe, noti
			.panel-body
				%h2= link_to noti.title , noti